.shota{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 1px;
}
.shota h2{
    font-family: "Cuprum";
    font-style: normal;
    font-size: 38px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    color: #fff;
}
.header-shota{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 3px;
}
.this-shota{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.shota-item{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 3px;
}
.header-shota-name{
    width: 25%;
    text-align: center;
    color: #db1f1f;
}
.header-shota-about{
    width: 40%;
    text-align: center;
    color: #fff;
}
.header-shota-volume{
    width: 13%;
    text-align: center;
    color: #fff;
}
.header-shota-price{
    width: 13%;
    text-align: center;
    color: #fff;
}

@media (max-width: 1279px) {
    /* .header-beer-volume{
        text-align: start;

    }
    .header-beer-price{
        text-align: start;
    } */
}